@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato|Signika:600");
body, html {
  background: #f7f7f7;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

#intro {
  width: 500px;
  padding: 20px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

#intro header {
  position: relative;
  margin-bottom: 20px;
}

#intro header img {
  width: 100%;
  min-height: 200px;
  display: block;
}

.label {
  font-size: .8em;
  display: block;
  margin-bottom: 10px;
}

.none {
  display: none;
}

a {
  text-decoration: none;
}

button {
  position: relative;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  display: block;
  width: 90%;
  padding: 12px 5px;
  background: transparent;
  border: 3px solid transparent;
  -webkit-box-shadow: 0 1px 5px #e6e6e6, 0 0 1px #d8d8d8;
          box-shadow: 0 1px 5px #e6e6e6, 0 0 1px #d8d8d8;
  border: 1px solid #e6e6e6;
  outline: none;
  color: #434343;
  font-size: 1em;
  margin: 15px auto;
  border-radius: 5vh;
  cursor: pointer;
}

button:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

button span {
  font-size: .6em;
  display: block;
}

/* --------- BOTÕES FLUTUANTES ----------- */
.botaobalao {
  background: #f7f7f7;
}

.botaobalao.flutuante {
  position: fixed;
}

.botaobalao.bottomright {
  bottom: 10px;
  right: 10px;
}

.botaobalao.bottomleft {
  bottom: 10px;
  left: 10px;
}

.botaobalao.topright {
  top: 10px;
  right: 10px;
}

.botaobalao .balaomensagem {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transition-timing-function: cubic-bezier(0.29, 0.03, 0.35, 1.31);
          transition-timing-function: cubic-bezier(0.29, 0.03, 0.35, 1.31);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #f7f7f7;
  border: 1px solid transparent;
  z-index: -1;
  overflow-y: auto;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.botaobalao .balaomensagem > div {
  display: none;
}

.botaobalao .bt {
  cursor: pointer;
  height: 30px;
  font-size: .8em;
  padding: 2px 10px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 25px;
  -webkit-box-shadow: 0 2px 1px #e6e6e6;
          box-shadow: 0 2px 1px #e6e6e6;
  z-index: 5;
}

.botaobalao .bt.branco {
  color: #a5a5a5;
  border: 1px solid #ccc;
}

.botaobalao .bt.primary {
  background: #c34c43;
  color: #fff;
  border: 1px solid #aa4038;
}

/* --------- MEDIA QUERIES ----------- */
@media only screen and (max-width: 560px) {
  #intro {
    position: relative;
    top: 5vh;
    left: 5vw;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 90vw;
    height: 90vh;
    padding: 0;
  }
  #intro header {
    margin-bottom: 30px;
    height: 28vh;
    text-align: center;
  }
  #intro header img {
    width: auto;
    height: 100%;
    min-height: none;
    margin: auto;
  }
  button {
    line-height: .8em;
  }
}
/*# sourceMappingURL=style.css.map */